@model Book

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-3 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-3" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
                        <img style="height: 500px; max-width: 100%; margin: auto;" class="rounded-4 fit" src="@Model.Image" />
                        <!--<img class="bd-placeholder-img card-img-top"--> @* height="100%" *@ <!--src="@Model.Image" alt="Thumbnail" role="img" aria-label="Placeholder: Thumbnail" />-->
                    </a>
                </div>

                <br />

                <div class="d-flex justify-content-center align-items-center">
                    <a href="#" style="width: 50%" class="btn btn-primary shadow-0"> Add to my books </a>
                </div>
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h2>@Model.Title</h2>
                    <h4>@Model.Author</h4>

                    <br />

                    <div class="row">
                        <dt class="col-3">Category:</dt>
                        <dd class="col-9">@Model.Category</dd>

                        <dt class="col-3">Publication year:</dt>
                        <dd class="col-9">@Model.PublishYear</dd>
                    </div>

                    <br />

                    <h4>Book Description</h4>
                    <p>@Model.Description</p>

                </div class="justify-content-center align-items-center">
                    
                <br />
                
                <div class="d-flex justify-content-center align-items-center">
                    <a type="button" class="btn btn-primary" style="width: 50%"
                        asp-controller="Book" asp-action="Edit" asp-route-bookId="@Model.Id">Edit</a>
                    <a type="button" class="btn btn-danger" style="width: 50%"
                        asp-controller="Book" asp-action="Delete" asp-route-bookId="@Model.Id">Delete</a>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->


