@using LibraryManagementSystem.ViewModel
@model UsersBookWithSessionViewModel

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <!-- Left Column: Image and Add Button -->
            <aside class="col-lg-4">
                <div class="border rounded-3 mb-1 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-3" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
                        <img style="height: 500px; max-width: 100%; margin: auto;" class="rounded-4 fit" src="@Model.UsersBook.BookImage" />
                    </a>
                </div>

                <br />

                <div class="d-flex justify-content-center align-items-center">
                    <a type="btn btn-success" asp-controller="Book" asp-action="Details" asp-route-id="@Model.UsersBook.BookId"
                       class="btn btn-primary w-100 shadow-0"> Go to book details </a>
                </div>
            </aside>

            <!-- Center Column: Book Details -->
            <main class="col-lg-4">
                <div class="mb-4">
                    <h2 class="fw-bold">@Model.UsersBook.BookTitle</h2>
                    <h4>@Model.UsersBook.BookAuthor</h4>
                </div>

                <div class="mb-4">
                    <div class="d-flex justify-content-between mt-2">
                        <input type="text" class="form-control w-50 me-1" placeholder="Start page" />
                        <input type="text" class="form-control w-50 ms-1" placeholder="End page" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-2">Add session</button>
                </div>

                <div class="mb-4">
                    <form method="post" asp-action="Details">
                        <label asp-for="UsersBook.Status">Book status</label>
                        <input type="hidden" asp-for="UsersBook.Id" value="@Model.UsersBook.Id" />
                        <div class="list-group">
                            <label class="list-group-item d-flex gap-2">
                                <input class="form-check-input flex-shrink-0" asp-for="UsersBook.Status" type="radio" value="InWishlist">
                                <span>
                                    Wishlist
                                    <small class="d-block text-body-secondary">Add this book to your wishlist</small>
                                </span>
                            </label>
                            <label class="list-group-item d-flex gap-2">
                                <input class="form-check-input flex-shrink-0" asp-for="UsersBook.Status" type="radio" value="Bought">
                                <span>
                                    Bought
                                    <small class="d-block text-body-secondary">Set the status of the book as purchased</small>
                                </span>
                            </label>
                            <label class="list-group-item d-flex gap-2">
                                <input class="form-check-input flex-shrink-0" asp-for="UsersBook.Status" type="radio" value="InProgress">
                                <span>
                                    In Progress
                                    <small class="d-block text-body-secondary">Indicate that you are reading this book</small>
                                </span>
                            </label>
                            <label class="list-group-item d-flex gap-2">
                                <input class="form-check-input flex-shrink-0" asp-for="UsersBook.Status" type="radio" value="Completed">
                                <span>
                                    Complete
                                    <small class="d-block text-body-secondary">Indicate that you read a book</small>
                                </span>
                            </label>
                        </div>
                        <div>
                            <label asp-for="UsersBook.LendTo">Lend To</label>
                            <input asp-for="UsersBook.LendTo" class="form-control" placeholder="Name of borrower (currently none)" /> 
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <button type="submit" class="btn btn-primary w-100 mt-2">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <a asp-controller="UsersBook" asp-action="DeleteUsersBook" asp-route-usersBookId="@Model.UsersBook.Id" class="btn btn-danger w-100">Delete book from My books</a>
            </main>

            <!-- Right Column: Additional Text -->
            <aside class="col-lg-4">
                <div class="border rounded-3 p-3">
                    <h4>Reading sessions</h4>
                    <p>Reading sessiong 1...</p>
                </div>
            </aside>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        function deleteUsersBook(usersBookId) {
            $.ajax({
                url: '@Url.Action("DeleteUsersBook", "UsersBook")',
                type: 'POST',
                data: { usersBookId: usersBookId },
                success: function (result) {
                    alert('Book deleted successfully to your wishlist!');
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    alert('Failed to delete book. Please try again.');
                }
            });
        }
    </script>
}
